body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
h1,
h2,
h3,
h4,
a,
div,
label,
input {
  color: #1a1a1a;
}

.ui.button {
  background-color: #ffffff !important;
}

.bodyContainer {
  padding: 30px 15px;
  background-color: #1a1a1a;
  height: calc(100vh - 48px);

}

.singleForm {
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
}

.ui.form label {
  color: #ffffff;
}

.my_button {
  margin-top: 15px;
}

.messageContainer {
  position: absolute;
  bottom: 30px;
}
*/